/*
* @Author: ryan
* @Date:   2016-12-03 14:49:24
* @Last Modified by:   Ryan Kophs
* @Last Modified time: 2016-12-04 17:25:08
*/

.nav {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
}
