/*
* @Author: ryan
* @Date:   2016-12-03 14:49:24
* @Last Modified by:   Ryan Kophs
* @Last Modified time: 2016-12-05 17:11:59
*/

.nav {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
}

.panel-title a {
	cursor: pointer;
}